
.titles {
    color: rgb(246, 246, 250);
    text-align: center;
    font-family: serif;
    text-decoration-line: underline;
    font-size: 40px;
    font-weight: 500;
    
   
    
}

.titles2 {

    position: absolute;
    top: 650px;
    left: 1650px;
    color: rgb(255, 255, 255);
    font-family: serif;
    text-decoration-line: underline;
    font-size: 20px;
    font-weight: 500;
    
   
    
}


.me {
    position: absolute;
    top: 10px;
    width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  


}

.roundedcorner {
    position: absolute;
    top: 700px;
    left: 1550px;
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    width: 290px;
    height: 150px;
    
  }


.kompetenslista {
    position: absolute;
    top: 700px;
    left: 1555px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: serif;
    font-size: 15px;
    font-weight: 500;
    

}

.kompetenslista2 {
    position: absolute;
    top: 700px;
    left: 1720px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: serif;
    font-size: 15px;
    font-weight: 500;
    

}




